.text-decorator-none {
    text-decoration: none;
}

.cursor{
    cursor: pointer;
    color: white;
}

.menu{
    background-color: #630014 !important;
    color: white !important;
}

.font{
    font-family: ;
}